/* 個人種目用CSS  射手の名前は2行まで*/
@font-face {
    font-family: 'certificate-bold';
    src: url('../fonts/UDDigiKyokashoN-B001.ttf') format('truetype');
}

@font-face {
    font-family: 'certificate-normal';
    //    src: url('../fonts/UDDigiKyokashoN-R001.ttf') format('truetype');
    //    src: url('../fonts/21560.otf') format('opentype');
        src: url('../fonts/35697.otf') format('opentype');
    //    src: url('../fonts/35819.otf') format('opentype');
}


body {
    font-family: certificate-normal;
}

.nraj-cert {
    background-image: url('../images/cert-300dpi.jpg');
    background-size: contain;
}

div#certificate {
    width: 100%;
    text-align: center;
}

div#title {
    padding-top: 55px;
    height: 250px;
    .shoujyou {
	font-weight: bold;
	font-size: 85px;
    }
    .taikai {
	margin: 32px;
	font-weight: normal;
	font-size: 34px;
	line-height:12px;
    }
}

div.result {
    padding-top: 70px;
    height: 250px; // 300px;
    font-size: 30px;
    line-height: 15px;
}
// 種目別団体戦用
div.team-posi {
    font-size: 24px;
}
// 総合団体用
div.team-all {
    margin: 2px;
    font-size: 40px;
}

// あなたの健闘を讃える部分
div#final {
    padding-top: 20px;
    height: 120px;
    .quote {
	margin: 28px;
	font-weight: normal;
	font-size: 34px;
	line-height: 12px;
    }
}
