@charset "UTF-8";
/* 個人種目用CSS  射手の名前は2行まで*/
@font-face {
  font-family: 'certificate-bold';
  src: url("../fonts/UDDigiKyokashoN-B001.ttf") format("truetype"); }
@font-face {
  font-family: 'certificate-normal';
  src: url("../fonts/35697.otf") format("opentype"); }
body {
  font-family: certificate-normal; }

div#certificate {
  width: 100%;
  text-align: center; }

div#title {
  padding-top: 70px;
  height: 270px; }
  div#title .shoujyou {
    font-weight: bold;
    font-size: 90px; }
  div#title .taikai {
    margin: 25px;
    font-weight: normal;
    font-size: 32px;
    line-height: 10px; }

div#result {
  padding-top: 50px;
  height: 330px;
  font-size: 30px;
  line-height: 15px; }

div#final {
  padding-top: 10px;
  height: 150px; }
  div#final .quote {
    margin: 25px;
    font-weight: normal;
    font-size: 32px;
    line-height: 10px; }

/*# sourceMappingURL=certificate-style.css.map */
