<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>A4</title>

  <!-- Normalize or reset CSS with your favorite library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">

  <!-- Load paper.css for happy printing -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.4.1/paper.css">

  <link rel="stylesheet" href="../css/certificate-style.css">
  <!-- Set page size here: A5, A4 or A3 -->
  <!-- Set also "landscape" if you need -->
  <style>@page { size: A4 }</style>
</head>

<!-- Set "A5", "A4" or "A3" for class name -->
<!-- Set also "landscape" if you need -->
<body class="A4">

  <!-- Each sheet element should have the class "sheet" -->
  <!-- "padding-**mm" is optional: you can set 10, 15, 20 or 25 -->
  <section class="sheet padding-10mm">

    <!-- Write HTML just like a web page -->
    <div id="certificate">
      <div id="title">
	<h1 class="shoujyou">賞　状</h1>
	<h3 class="taikai">令和元年度第35回全日本</h3>
	<h3 class="taikai">ライフル射撃クラブ対抗選手権大会</h3>
	<h3 class="taikai">兼 日伊親善大会</h3>
      </div>
      
      <div id="result">
	<h2 class="position">{{ position }}</h2>
	<h2 class="point">{{ score }} 点</h2>
	<h2 class="rank">第 {{ rank }} 位</h2>
	<h2 class="team">{{ team }}</h2>
	<h2 class="name">{{ name }} 殿</h2>

      </div>
      
      <div id="final">
	<h3 class="quote">あなたの健闘を讃えます</h3>
	<h3 class="quote">令和{{ year }}年{{ month }}月{{ day }}日</h3>
      </div>
    </div>
  </section>
</body>
</html>
